@page "/"

@inject IJSRuntime JSRuntime;

<h1>Hello joker!</h1>

<MyCustomComponents.Component1 />


@code
{
    protected override void OnInitialized()
    {
        MyCustomComponents.ExampleJsInterop.Prompt(JSRuntime, "hello");
    }
}

